@import 'normolize.scss';

@font-face{
    font-family: 'Quotus Bold';
    src: url('../fonts/Quotus-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Quotus Thin';
    src: url('../fonts/Quotus-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Lt';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Bold';
    src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin font-q-bold {
    font-family: 'Quotus Bold', sans-serif;
}

@mixin font-q-thin {
    font-family: 'Quotus Thin', sans-serif;
}

@mixin font-r-medium {
    font-family: 'Roboto Medium', sans-serif;
}

@mixin font-r-regular {
    font-family: 'Roboto Regular', sans-serif;
}

@mixin font-r-lt {
    font-family: 'Roboto Lt', sans-serif;
}

@mixin font-r-bold {
    font-family: 'Roboto Bold', sans-serif;
}

// <----- COMMON 

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-mdLg-max: 1062px;
$screen-lg-max: 1199px;

body{
    color: #242424;
}

.button{
    position: relative;
    z-index: 6;
    @include font-r-bold;
    color: white;
    font-size: 31px;
    background-color: #3acdd5;
    display: inline-block;
    padding: 23px 79px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    &:hover{
    background-color: #34bec5;
    transition: all 0.2s ease-in;
    }
}

.title{
    @include font-q-thin;
    font-size: 68px;
    text-align: center;
}

.subtitle{
    margin: 30px auto 0 auto;
    @include font-r-regular;
    font-size: 24px;
    text-align: center;
    max-width: 850px;
    line-height: 1.5;
}

.section-inner{
    max-width: 1465px;
    margin: 0 auto;
}

.thing-title{
    margin-top: 15px;
    @include font-r-medium;
    max-width: 320px;
    color: #343434;
    font-size: 15px;
    line-height: 1.5;
    @media (max-width: $screen-sm){
        font-size: 12px;
    }
}

.priceCart{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .price{
        @include font-r-bold;
        font-size: 20px;
        color: #343434;
    }
    .cart{
        img{
            margin-left: 10px;
        }
    }
}


.center-button{
    margin-top: 65px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 45px auto 0 auto;
    max-width: 35%;
    @media (max-width: $screen-sm){
        flex-direction: column;
        max-width: 70%;
        .button_blue{
            margin-top: 10px;
        }
    }
    .button_blue{
        @include font-r-regular;
        font-size: 32px;
        a{
            color: #3acdd5;
            text-decoration: none;
            display: inline-block;
            &:after{
                display: block;
                content: '';
                height: 2px;
                width: 0%;
                background-color: #34bec5;
                transition: all 0.15s ease-out;
            }
            &:hover:after, &:focus:after{
                width: 50%;
            }
        }
    }
}

.row{
    display: flex;
    justify-content: space-between;
}

.thing{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image{
        display: flex;
        align-items: center;
        img{
            max-width: 100%;
        }
    }
}

// COMMON ----->


.header{
    background: url('../img/header.jpg') no-repeat 50%;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url('../img/header2.png') no-repeat 50%;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .header-inner{
        height: 1316px;
        text-align: center;
        position: relative;
        z-index: 10;
        .logoSearchCart{
            padding-top: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            width: 87%;
            .null{
                width: 33%;
            }
            .logo{
                width: 33%;
                img{
                    max-width: 100%;
                }
            }
            .SearchCart{
                width: 33%;
                display: flex;
                align-items: center;
                justify-content: end;
                img{
                    max-width: 100%;
                }
                .cart{
                    margin: 0 30px;
                }
            }
        }
        .nav{
            display: flex;
            justify-content: space-between;
            margin: 60px auto 0 auto;
            width: 51%;
            list-style: none;
            font-size: 23px;
            letter-spacing: 0.18em;
            text-transform: uppercase;
            @include font-q-bold;
            @media (max-width: $screen-mdLg-max){
                width: 95%;
            }
            @media (max-width: $screen-sm){
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                li{
                    margin-top: 20px;
                }
            }
            a{
                text-decoration: none;
                color: #242424;
                display: inline-block;
                &:after{
                    display: block;
                    content: '';
                    height: 2px;
                    width: 0%;
                    background-color: #242424;
                    transition: all 0.15s ease-out;
                }
                &:hover:after, &:focus:after{
                    width: 50%;
                }
            }
        }
        .header-subtitle{
            margin-top: 68px;
            color: black;
            font-size: 35px;
            @include font-q-thin;
            text-transform: uppercase;
            letter-spacing: 0.18em;
            @media (max-width: $screen-sm){
                margin-top: 20px;
            }
        }
    }
    .header-title{
        position: absolute;
        font-size: 175px;
        @include font-q-bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        transform: scaleY(1.1);
        z-index: 4;
        top: 335px;
        left: 50%;
        margin-left:-500px;
        @media (max-width: $screen-mdLg-max){
            font-size: 125px;
            top: 370px;
            margin-left:-380px;
        }
        @media (max-width: $screen-sm){
            font-size: 60px;
            top: 370px;
            margin-left:-175px;
            margin-top: 40px;
        }
    }
}

.best-travel{
    max-width: 731px;
    position: absolute;
    top: 1020px;
    @media (max-width: $screen-sm){
        .best-travel-title{
            font-size: 50px;
        }
        .best-travel-subtitle{
            font-size: 50px;
        }
        .best-travel-text{
            font-size: 30px;
            line-height: 1.2;
        }
    }
    &-title{
        @include font-q-bold;
        font-size: 80px;
    }
    &-subtitle{
        @include font-q-thin;
        font-size: 80px;
    }
    &-text{
        @include font-r-lt;
        font-size: 21px;
        line-height: 42px;
        padding: 40px 0;
    }
}

.new-arrivals{
    margin-top: 375px;
    .bags{
        .row{
            .thing{
                margin: 40px 0;
            }
        }
    }
}

.our-camps{
    margin-top: 80px;
    .row{
        margin-top: 90px;
    }
}

.cameras-tripod{
    margin-top: 115px;
    .row{
        margin-top: 90px;
        .thing{
            .thing-title{
                min-height: 65px;
            }
        }
    }
}

.camera-lenses{
    margin-top: 115px;
    .lens{
        margin-top: 70px;
        .row{
            .thing{
                .thing-title{
                    margin-top: 50px;
                    min-height: 65px;
                }
            }
        }
        .row2{
            margin-top: 30px;
            justify-content: center;
            .thing{
                .thing-title{
                    max-width: 970px;
                    margin-top: 50px;
                }
            }
        }
    }
}

.sign-up{
    .section-inner{
        margin-top: 390px;
        color: white;
        position: relative;
        z-index: 5;
        .sign-up-title{
            @include font-q-bold;
            font-size: 55px;
        }
        .sign-up-subtitle{
            @include font-q-thin;
            font-size: 51px;
            margin-top: 10px;
        }
        .sign-up-text{
            @include font-r-medium;
            font-size: 17px;
            margin-top: 40px;
            max-width: 620px;
            line-height: 1.5;
        }
        .sign-up-FormButton{
            margin-top: 50px;
            display: flex;
            align-items: flex-start;
            input{
                @include font-r-medium;
                font-size: 18px;
                padding-left: 80px;
                width: 285px;
                height: 70px;
                border: none;
                border-radius: 50px;
                margin-bottom: 355px;
                @media (max-width: $screen-sm){
                    width: 175px;
                    padding-left: 30px;
                }
            }
            .button{
                font-size: 23px;
                margin-left: 25px; 
                padding: 23px 40px;
            }
        }
    }
    position: relative;
    .mount{
        position: absolute;
        bottom: 40px;
        height: 1153px;
        width: 100%;
        background: url('../img/mountaing.png') no-repeat 50%;
        background-size: cover;
    }
}

.footer{
    margin-top: 50px;
    .wrapper{
        display: flex;
        justify-content: space-between;
        .col{
            margin: 0 55px;
            list-style: none;
            line-height: 1.7;
            color: black;
            @media (max-width: $screen-sm){
                margin: 0 15px;
            }
            a{
                @include font-r-lt;
                text-decoration: none;
                color: black;
                font-size: 30px;
                display: inline-block;
                @media (max-width: $screen-sm){
                    font-size: 18px;
                }
                &:after{
                    display: block;
                    content: '';
                    height: 2px;
                    width: 0%;
                    background-color: black;
                    transition: all 0.15s ease-out;
                }
                &:hover:after, &:focus:after{
                    width: 50%;
                }
            }
            .text{
                @include font-q-bold;
                font-size: 42px;
                @media (max-width: $screen-sm){
                    font-size: 30px;
                }
            }
        }
    }
    .social{
        margin: 200px 0 100px 0;
        display: flex;
        justify-content: center;
        .block{
            display: inline-block;
            &:not(:first-child){
                margin-left: 20px;
            }
            &:after{
                display: block;
                content: '';
                height: 2px;
                width: 0%;
                background-color: black;
                transition: all 0.15s ease-out;
            }
            &:hover:after, &:focus:after{
                width: 50%;
            }
        }
    }
}