@import 'normolize.scss';

@font-face{
    font-family: 'Quotus Bold';
    src: url('../fonts/Quotus-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Quotus Thin';
    src: url('../fonts/Quotus-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Lt';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Bold';
    src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin font-q-bold {
    font-family: 'Quotus Bold', sans-serif;
}

@mixin font-q-thin {
    font-family: 'Quotus Thin', sans-serif;
}

@mixin font-r-medium {
    font-family: 'Roboto Medium', sans-serif;
}

@mixin font-r-regular {
    font-family: 'Roboto Regular', sans-serif;
}

@mixin font-r-lt {
    font-family: 'Roboto Lt', sans-serif;
}

@mixin font-r-bold {
    font-family: 'Roboto Bold', sans-serif;
}

// <----- COMMON 


body{
    color: #242424;
}

.button{
    @include font-r-bold;
    color: white;
    font-size: 31px;
    background-color: #3acdd5;
    display: inline-block;
    padding: 23px 79px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    &:hover{
    background-color: #34bec5;
    transition: all 0.2s ease-in;
    }
}

.title{
    @include font-q-thin;
    font-size: 68px;
    text-align: center;
}

.subtitle{
    margin: 30px auto 0 auto;
    @include font-r-regular;
    font-size: 24px;
    text-align: center;
    max-width: 850px;
    line-height: 1.5;
}

.section-inner{
    max-width: 1465px;
    margin: 0 auto;
}

.thing-title{
    margin-top: 15px;
    @include font-r-medium;
    max-width: 320px;
    color: #343434;
    font-size: 15px;
    line-height: 1.5;
}

.priceCart{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .price{
        @include font-r-bold;
        font-size: 20px;
        color: #343434;
    }
    .cart{
        img{
            margin-left: 10px;
        }
    }
}


.center-button{
    margin-top: 65px;
    text-align: center;
}

.buttons{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    .button_blue{
        @include font-r-regular;
        font-size: 32px;
        &:not(:first-child){
            margin-left: 200px;
        }
        a{
            color: #3acdd5;
            text-decoration: none;
            &:hover{
            color: #34bec5;
            transition: text 0.2s ease-in;
            border-bottom: 2px solid #34bec5;
            }
        }
    }
}

.row{
    display: flex;
    justify-content: space-between;
}

.thing{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image{
        display: flex;
        align-items: center;
        img{
            max-width: 100%;
        }
    }
}

// COMMON ----->


.header{
    background: url('../img/header.jpg') no-repeat 50%;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url('../img/header2.png') no-repeat 50%;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .header-inner{
        height: 1316px;
        text-align: center;
        position: relative;
        z-index: 10;
        .logoSearchCart{
            padding-top: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            width: 87%;
            .null{
                width: 33%;
            }
            .logo{
                width: 33%;
                img{
                    max-width: 100%;
                }
            }
            .SearchCart{
                width: 33%;
                display: flex;
                align-items: center;
                justify-content: end;
                img{
                    margin: 0 30px;
                }
            }
        }
        .nav{
            display: flex;
            justify-content: space-between;
            margin: 60px auto 0 auto;
            width: 51%;
            list-style: none;
            font-size: 23px;
            letter-spacing: 0.18em;
            text-transform: uppercase;
            @include font-q-bold;
            a{
                text-decoration: none;
                color: #242424;
                &:hover{
                    border-bottom: 2px solid #242424;
                }
            }
        }
        .header-subtitle{
            margin-top: 68px;
            color: black;
            font-size: 35px;
            @include font-q-thin;
            text-transform: uppercase;
            letter-spacing: 0.18em;
        }
    }
    .header-title{
        position: absolute;
        font-size: 175px;
        @include font-q-bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        transform: scaleY(1.1);
        z-index: 4;
        top: 335px;
        left: 50%;
        margin-left:-500px;
    }
}

.best-travel{
    max-width: 731px;
    position: absolute;
    top: 1020px;
    &-title{
        @include font-q-bold;
        font-size: 80px;
    }
    &-subtitle{
        @include font-q-thin;
        font-size: 80px;
    }
    &-text{
        @include font-r-lt;
        font-size: 21px;
        line-height: 42px;
        padding: 40px 0;
    }
}

.new-arrivals{
    margin-top: 375px;
    .bags{
        .row{
            .thing{
                margin: 40px 0;
            }
        }
    }
}

.our-camps{
    margin-top: 80px;
    .row{
        margin-top: 90px;
    }
}

.cameras-tripod{
    margin-top: 115px;
    .row{
        margin-top: 90px;
        .thing{
            .thing-title{
                min-height: 65px;
            }
        }
    }
}
